<div>
    <div class="titre-avatar">
        <h2>Supprimer un commentaire</h2>
        <p>Sélectionnez un commentaire à supprimer</p>
    </div>
    <div class="commentaires">
        <div class="commentaire">
            <div class="left">
                <div class="avatar" style="background-image: url('{{ user.avatar_img_path }}')"></div>
            </div>
            <div class="right">
                <div class="name">Thomas Claireau</div>
                <div class="date-view">
                    <div class="date">26 Novembre 2019, à 14h00 -
                    </div>
                    <a href="#" class="view">Voir l'article</a>
                </div>
                <div class="contenu">
                    Le commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla blablaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla
                </div>
            </div>
            <div class="controls">
                <div class="retour">Annuler</div>
                <div class="confirm">
                    <img src="{{ imgDir }}pictos/cross.svg" class="js-inject-me" alt="">
                </div>
            </div>
        </div>
        <div class="commentaire">
            <div class="left">
                <div class="avatar" style="background-image: url('{{ user.avatar_img_path }}')"></div>
            </div>
            <div class="right">
                <div class="name">Thomas Claireau</div>
                <div class="date-view">
                    <div class="date">26 Novembre 2019, à 14h00 -
                    </div>
                    <a href="#" class="view">Voir l'article</a>
                </div>
                <div class="contenu">
                    Le commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla blablaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla
                </div>
            </div>
            <div class="controls">
                <div class="retour">Annuler</div>
                <div class="confirm">
                    <img src="{{ imgDir }}pictos/cross.svg" class="js-inject-me" alt="">
                </div>
            </div>
        </div>
        <div class="commentaire">
            <div class="left">
                <div class="avatar" style="background-image: url('{{ user.avatar_img_path ? user.avatar_img_path : avatar_default }}')"></div>
            </div>
            <div class="right">
                <div class="name">Thomas Claireau</div>
                <div class="date-view">
                    <div class="date">26 Novembre 2019, à 14h00 -
                    </div>
                    <a href="#" class="view">Voir l'article</a>
                </div>
                <div class="contenu">
                    Le commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla blablaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla
                </div>
            </div>
            <div class="controls">
                <div class="retour">Annuler</div>
                <div class="confirm">
                    <img src="{{ imgDir }}pictos/cross.svg" class="js-inject-me" alt="">
                </div>
            </div>
        </div>
    </div>
</div>