<div>
	<div class="titre-avatar">
		<h2>Modifier un commentaire</h2>
		<p>Sélectionnez un commentaire à modifier</p>
	</div>
	<div class="commentaires">
		{% for comment in comments %}
			<div class="commentaire">
				<div class="left">
                    <div class="avatar" style="background-image: url('{{ comment.avatar }}')"></div>
				</div>
				<div class="right">
					<div class="name">{{ comment.prenom }} {{ comment.nom }}</div>
                    <div class="date-view">
                        <div class="date">Le {{ comment.date|date('d/m/Y') }}, à {{ comment.date|date('H:i') }} -
                        </div>
                        <a href="/index.php?access=post&id={{ comment.id_post }}" class="view">Voir l'article</a>
					</div>
					<div class="content">
						<div class="titre">{{ comment.title }}</div>
						<div class="comment">{{ comment.content|raw }}</div>
						<div class="actions">
							<a class="btn vertFonce triggerForm">Modifier</a>
						</div>
					</div>
					<form action="/index.php?access=comment&action=update" method="post" class="disabled">
						<input type="hidden" name="commentId" value={{comment.id}}>
						<input type="text" name="titre" value="{{ comment.title }}" placeholder="Le titre de votre commentaire">
						<div name="content" id="commentaire-{{comment.id}}" spellcheck="false">
							{{ comment.content|raw }}
						</div>
						<div class="actions">
							<a class="btn rougeFonce triggerForm">Retour</a>
							<input type="submit" class="btn vertFonce" value="Modifier"/>
						</div>
					</form>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
