<div>
    <div class="titre-avatar">
        <h2>Vos commentaires</h2>
    </div>
    <div class="commentaires">
        {% for comment in comments %}
            <div class="commentaire">
                <div class="left">
                    <div class="avatar" style="background-image: url('{{ comment.avatar }}')"></div>
                </div>
                <div class="right">
                    <div class="name">{{ comment.prenom }} {{ comment.nom }}</div>
                    <div class="date-view">
                        <div class="date">Le {{ comment.date|date('d/m/Y') }}, à {{ comment.date|date('H:i') }} -
                        </div>
                        <a href="/index.php?access=post&id={{ comment.id_post }}" class="view">Voir l'article</a>
                    </div>
                    <div class="titre">
                        {{ comment.title }}
                    </div>
                    <div class="contenu">
                        {{comment.content|raw}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>