<div class="filter">
    <ul>
        <a href="#">
            <li class="all">{{ "All" | lower }}</li>
        </a>
        <a href="#">
            <li class="css">{{ "Css" | lower }}</li>
        </a>
        <a href="#">
            <li class="javascript">{{ "JavaScript" | lower }}</li>
        </a>
        <a href="#">
            <li class="php">{{ "Php" | lower }}</li>
        </a>
        <a href="#">
            <li class="typescript">{{ "TypeScript" | lower }}</li>
        </a>
    </ul>
</div>