<div class="filter">
    <ul>
        <li class="all">{{ "All" | lower }}</li>
        <li class="css">{{ "Css" | lower }}</li>
        <li class="javascript">{{ "JavaScript" | lower }}</li>
        <li class="php">{{ "Php" | lower }}</li>
        <li class="typescript">{{ "TypeScript" | lower }}</li>
    </ul>
</div>