<a href="{{url}}/index.php?access=post&id={{ post.id }}" class="article">
    <div class="content">
        <div class="first">
            <div class="date-auteur">
                <div class="date">{{ post.date|date('d/m/Y') }}</div>
                <div class="auteur">
                    <div class="avatar" style="background-image: url('{{ post.avatar_img_path ? post.avatar_img_path : avatar_default }}')"></div>
                    <div class="nom">{{ post.prenom }} {{ post.nom }}</div>
                </div>
            </div>
            <h3>{{ post.title }}</h3>
        </div>
        {% set imgPath = isLocalhost ? './src/' : './dist/' %}
        <div class="img-article" style="background-image: url({{url}}/{{imgPath ~ main_img_path}})"></div>
        <div class="last">
            <div class="description">
                {{ post.description|raw }}
            </div>
            {% include("./blog/filter.twig") %}
        </div>
    </div>
</a>