{% extends 'layout/layout.twig' %}

{% block subtitle %}Thomas Claireau{% endblock %}

{% block title %}Développeur full-stack & web addict
{% endblock %}

{% block description %}{% endblock %}

{% block main %}

    <main id="home">
        <section class="presentation">
            <div class="container">
                <div class="content">
                    <p>Actuellement développeur web full-stack dans une agence proche de Nantes, je suis passionné par le web et l'UX / UI.</p>
                    <p>Mon code s'articule principalement autour de 3 grands pôles : JavaScript - PHP - Wordpress.</p>
                    <p>Je suis également étudiant chez OpenClassrooms où j'ai obtenu une des 100 bourses distribuées par l'école en 2018.</p>
                </div>
            </div>
        </section>
        <section class="avantages container">
            <div class="avantage">
                <div class="picto">
                    <img class="js-inject-me" src="{{ imgDir }}pictos/picto-test.svg" alt="">
                </div>
                <div class="titre">
                    <h4>Développement</h4>
                </div>
                <div class="content">
                    <p>Développement de sites web sous des frameworks JS, WordPress</p>
                </div>
            </div>
            <div class="avantage">
                <div class="picto">
                    <img class="js-inject-me" src="{{ imgDir }}pictos/picto-test.svg" alt="">
                </div>
                <div class="titre">
                    <h4>Développement</h4>
                </div>
                <div class="content">
                    <p>Développement de sites web sous des frameworks JS, WordPress</p>
                </div>
            </div>
            <div class="avantage">
                <div class="picto">
                    <img class="js-inject-me" src="{{ imgDir }}pictos/picto-test.svg" alt="">
                </div>
                <div class="titre">
                    <h4>Développement</h4>
                </div>
                <div class="content">
                    <p>Développement de sites web sous des frameworks JS, WordPress</p>
                </div>
            </div>
            <div class="avantage">
                <div class="picto">
                    <img class="js-inject-me" src="{{ imgDir }}pictos/picto-test.svg" alt="">
                </div>
                <div class="titre">
                    <h4>Développement</h4>
                </div>
                <div class="content">
                    <p>Développement de sites web sous des frameworks JS, WordPress</p>
                </div>
            </div>
        </section>
        <section class="list-skills">
            <div class="container">
                <h2>Skills</h2>
                <div class="skills">
                    <div class="left">
                        <div class="skill"></div>
                        <div class="skill"></div>
                        <div class="skill"></div>
                        <div class="skill"></div>
                    </div>
                    <div class="right">
                        <div class="skill"></div>
                        <div class="skill"></div>
                        <div class="skill"></div>
                        <div class="skill"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio">
            <div class="container">
                <h2>Portfolio</h2>
                <div class="filter">
                    <ul>
                        <a href="#">
                            <li class="all">{{'All'|lower}}</li>
                        </a>
                        <a href="#">
                            <li class="css">{{'Css'|lower}}</li>
                        </a>
                        <a href="#">
                            <li class="javascript">{{'JavaScript'|lower}}</li>
                        </a>
                        <a href="#">
                            <li class="php">{{'Php'|lower}}</li>
                        </a>
                        <a href="#">
                            <li class="typescript">{{'TypeScript'|lower}}</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="projets">
                <div class="projet"></div>
                <div class="projet"></div>
                <div class="projet"></div>
                <div class="projet"></div>
                <div class="projet"></div>
                <div class="projet"></div>
                <div class="projet"></div>
                <div class="projet"></div>
            </div>
        </section>
        <section class="liste-articles">
            <h2>Mes derniers articles</h2>
            <div class="articles container">
                <div class="article">
                    <div class="first">
                        <div class="date-auteur">
                            <div class="date">11 Aout 2019</div>
                            <div class="auteur">
                                <div class="avatar"></div>
                                <div class="nom">Thomas Claireau
                                </div>
                            </div>
                        </div>
                        <h3>Titre de l'article</h3>
                    </div>
                    <div class="img-article"></div>
                    <div class="last">
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.Vidit</p>
                        </div>
                        <div class="filter">
                            <ul>
                                <a href="#">
                                    <li class="all">{{'All'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="css">{{'Css'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="javascript">{{'JavaScript'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="php">{{'Php'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="typescript">{{'TypeScript'|lower}}</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="first">
                        <div class="date-auteur">
                            <div class="date">11 Aout 2019</div>
                            <div class="auteur">
                                <div class="avatar"></div>
                                <div class="nom">Thomas Claireau
                                </div>
                            </div>
                        </div>
                        <h3>Titre de l'article</h3>
                    </div>
                    <div class="img-article"></div>
                    <div class="last">
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.Vidit</p>
                        </div>
                        <div class="filter">
                            <ul>
                                <a href="#">
                                    <li class="all">{{'All'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="css">{{'Css'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="javascript">{{'JavaScript'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="php">{{'Php'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="typescript">{{'TypeScript'|lower}}</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="first">
                        <div class="date-auteur">
                            <div class="date">11 Aout 2019</div>
                            <div class="auteur">
                                <div class="avatar"></div>
                                <div class="nom">Thomas Claireau
                                </div>
                            </div>
                        </div>
                        <h3>Titre de l'article</h3>
                    </div>
                    <div class="img-article"></div>
                    <div class="last">
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.Vidit</p>
                        </div>
                        <div class="filter">
                            <ul>
                                <a href="#">
                                    <li class="all">{{'All'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="css">{{'Css'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="javascript">{{'JavaScript'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="php">{{'Php'|lower}}</li>
                                </a>
                                <a href="#">
                                    <li class="typescript">{{'TypeScript'|lower}}</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}