{% extends 'layout/layout.twig' %}
{% set isBlog = true %}

{% block subtitle %}
    {{post.title}}
{% endblock %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block description %}
    {{post.description|raw}}
{% endblock %}

{% block main %}

    <main id="post" class="container">
        <article>
            <section class="infos-post">
                <div class="date">
                    <p>{{ post.date|date('d/m/Y') }}</p>
                </div>
                <div class="auteur">
                    <div class="avatar" style="background-image: url('{{ post.avatar_img_path ? post.avatar_img_path : avatar_default }}')"></div>
                    <div class="nom-reseaux">
                        <div class="nom">{{ post.prenom }} {{ post.nom}}</div>
                        <div class="reseaux">
                            <ul>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">GitHub</a></li>
                                <li><a href="#">LinkedIn</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="image-post">
                <img src="{{url}}/{{post.main_img_path}}" alt="image-post"/>
            </section>
            <section class="container-content-post">
                <div class="content-post">
                    {{post.content|raw}}
                </div>
            </section>
        </article>
        <section class="comments">
            <div class="container-list-comments">
                <h3>Commentaires</h3>
                <div class="list-comments">
                    <div class="comment">
                        <div class="infos">
                            <div class="left">
                                <div class="avatar" style="background-image: url('./src/assets/img/pictos/default_avatar.png')"></div>
                            </div>
                            <div class="right"> 
                                <div class="user">
                                    Thomas Claireau
                                </div>
                                <div class="date">
                                    Le 10/01/12
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h5>Titre du commentaire</h5>
                            <p>Le commentaire vraiment génial mais pas vraiment très long car on est pas très bavard</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="infos">
                            <div class="left">
                                <div class="avatar" style="background-image: url('./src/assets/img/pictos/default_avatar.png')"></div>
                            </div>
                            <div class="right"> 
                                <div class="user">
                                    Thomas Claireau
                                </div>
                                <div class="date">
                                    Le 10/01/12
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h5>Titre du commentaire</h5>
                            <p>Le commentaire vraiment génial mais pas vraiment très long car on est pas très bavard</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="infos">
                            <div class="left">
                                <div class="avatar" style="background-image: url('./src/assets/img/pictos/default_avatar.png')"></div>
                            </div>
                            <div class="right"> 
                                <div class="user">
                                    Thomas Claireau
                                </div>
                                <div class="date">
                                    Le 10/01/12
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h5>Titre du commentaire</h5>
                            <p>Le commentaire vraiment génial mais pas vraiment très long car on est pas très bavard</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="infos">
                            <div class="left">
                                <div class="avatar" style="background-image: url('./src/assets/img/pictos/default_avatar.png')"></div>
                            </div>
                            <div class="right"> 
                                <div class="user">
                                    Thomas Claireau
                                </div>
                                <div class="date">
                                    Le 10/01/12
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h5>Titre du commentaire</h5>
                            <p>Le commentaire vraiment génial mais pas vraiment très long car on est pas très bavard</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="infos">
                            <div class="left">
                                <div class="avatar" style="background-image: url('./src/assets/img/pictos/default_avatar.png')"></div>
                            </div>
                            <div class="right"> 
                                <div class="user">
                                    Thomas Claireau
                                </div>
                                <div class="date">
                                    Le 10/01/12
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h5>Titre du commentaire</h5>
                            <p>Le commentaire vraiment génial mais pas vraiment très long car on est pas très bavard</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="infos">
                            <div class="left">
                                <div class="avatar" style="background-image: url('./src/assets/img/pictos/default_avatar.png')"></div>
                            </div>
                            <div class="right"> 
                                <div class="user">
                                    Thomas Claireau
                                </div>
                                <div class="date">
                                    Le 10/01/12
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h5>Titre du commentaire</h5>
                            <p>Le commentaire vraiment génial mais pas vraiment très long car on est pas très bavard</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <h3>Laisser un commentaire ?</h3>
                <form action="/index.php/?access=comment&action=create">
                    <label for="titre">
                        <input type="text" name="titre" id="titre" placeholder="Rentrez ici le titre de votre commentaire" required>
                    </label>
                    <h4>Rentrez votre commentaire ci-dessous</h4>
                    <textarea name="commentaire" id="commentaire"></textarea>
                    <div class="action">
                        <button type="submit" class="btn vertFonce">Envoyer mon commentaire</button>
                    </div>
                </form>
            </div>
            
        </section>
    </main>
{% endblock %}