{% extends 'layout/layout.twig' %}
{% set isBlog = true %}

{% block subtitle %}
    {{post.title}}
{% endblock %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block description %}
    {{post.description|raw}}
{% endblock %}

{% block main %}

    <main id="post" class="container">
        <article>
            <section class="infos-post">
                <div class="date">
                    <p>{{ post.date|date('d/m/Y') }}</p>
                </div>
                <div class="auteur">
                    <div class="avatar" style="background-image: url('{{ post.avatar_img_path ? post.avatar_img_path : avatar_default }}')"></div>
                    <div class="nom-reseaux">
                        <div class="nom">{{ post.prenom }} {{ post.nom}}</div>
                        <div class="reseaux">
                            <ul>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">GitHub</a></li>
                                <li><a href="#">LinkedIn</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="image-post">
                <img src="{{url}}/{{post.main_img_path}}" alt="image-post"/>
            </section>
            <section class="container-content-post">
                <div class="content-post">
                    {{post.content|raw}}
                </div>
            </section>
        </article>
    </main>
{% endblock %}