<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% block title %}{{ block("subtitle") }}{% endblock %}</title>

    <link rel="canonical" href="{% block canonical %}{{ url }}{% endblock %}" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />

    <meta name="description" content="{{ block('description') }}" />
    <meta name="author" content="Thomas Claireau" />
    <meta name="copyright" content="MIT" />

    {# A supprimer lorsque site en ligne #}
    <meta name="robots" content="noindex" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:url" content="{{ block('canonical') }}" />
    <meta property="og:description" content="{{ block('description') }}" />
    <meta
      property="og:image"
      content="{% block image %}{{ url }}{% endblock %}"
    />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ block('title') }}" />
    <meta name="twitter:site" content="{{ block('canonical') }}" />
    <meta name="twitter:description" content="{{ block('description') }}" />
    <meta name="twitter:image" content="{{ block('image') }}" />
    <meta name="twitter:creator" content="@thomas_claireau" />

    <!-- Todo : faire la différence entre localhost et server pour webpack -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    {{ include("layout/menu.twig") }}

    {{ include("layout/header.twig", { title: block("title") }) }}

    {% block main %}{% endblock %}

    {{ include("layout/footer.twig") }}

    <!-- Todo : faire la différence entre localhost et server pour webpack -->
    <script src="js/script.js"></script>
  </body>
</html>
