<nav id="menu" {% if (template == "blog") or (template == "post") %} class="blog" {% endif %}>
    <div class="container">
        <div class="items">
            <ul>
                <li>
                    {% set href = home ? '#start' : url ~ '/#start' %}
                    {% set smoothScroll = home ? 'js-smooth-scroll' : '' %}
                    <a href="{{href}}" class="logo {{smoothScroll}}">
                        <img class="js-inject-me" src="{{ imgDir }}header/logo-site.svg" alt="logo-thomas-claireau"/>
                    </a>
                </li>
                <li>
                    {% if home == true %}
                        <a href="#skills" class="js-smooth-scroll">Skills</a>
                    {% else %}
                        <a href="{{url}}/#skills">Skills</a>
                    {% endif %}

                </li>
                <li>
                    {% if home == true %}
                        <a href="#portfolio" class="js-smooth-scroll">Portfolio</a>
                    {% else %}
                        <a href="{{url}}/#portfolio">Portfolio</a>
                    {% endif %}
                </li>
                {% if template == 'blog' %}
                    <li class="active">
                        <a href="#" {% if home == true %} class="js-smooth-scroll" {% endif %}>Blog</a>
                    </li>
                {% else %}
                    <li>
                        {% if home == true %}
                            <a href="#articles" class="js-smooth-scroll">Blog</a>
                        {% else %}
                            <a href="{{url}}/index.php?access=blog">Blog</a>
                        {% endif %}
                    </li>
                {% endif %}
                <li>
                    <a href="{{url}}/index.php?access=contact">Contact</a>
                </li>
                <div class="logos-sociaux">
                    <li>
                        <a href="#" class="github">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="linkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>
<div class="bars-menu-mobile">
    <div>
        <span class="bar-1"></span>
        <span class="bar-2"></span>
        <span class="bar-3"></span>
    </div>
</div>